{
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "none",
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": true
}
